.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .logo-bold {
    color: black;
  }
  
  .logo-highlight {
    color: #f7b500;
    transition: color 0.5s ease;
  }
  
  .logo-icon {
    width: 292px;
    margin-left: 100px;
    height: 76px;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    margin-right: 120px;
  }
  
  .navbar-menu li {
    text-decoration: none;
    color: black;
    font-weight: 500;
    cursor: pointer;
  }
  
  .navbar-menu li:hover {
    color: #f7b500;
    transition: color 0.5s ease;
  }
  
  .navbar-access-btn {
    background-color: #f7b500;
    color: white;
    padding: 10px 40px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 100px;
  }
  
  .navbar-access-btn:hover {
    background-color: #e5a300;
    transition: background-color 0.5s ease;
  }
  