.footer-landing{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  padding-left: 160px;
  padding-right: 160px;
  padding-top: 50px;
  align-items: center;
}

.footer-nav li:hover {
  color: #f7b500;
  transition: color 0.5s ease;
}

.footer-links {
  margin-right: 130px;
}

.footer-social {
  display: flex;
  gap: 10px;
}

.footer-social a:hover{
    transform: scale(1.2);
    transition: transform 0.5s ease;
}

.footer-informacoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 160px;
  padding-right: 160px;
}

li{
    list-style: none;
}

.footer-informações-last-cta{
    background-color: #EDE8E8;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-informações-last-cta h2{
    font-size: 24px;
}

.footer-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-bottom p a{
    text-decoration: none;
    color: #333;
}

.footer-bottom p a:hover{
    color: #f7b500;

}